@font-face {
  font-family: 'Gotham Pro';
  src: url("../font/GothamPro/GothamPro.eot");
  src: url("../font/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro/GothamPro.woff") format("woff"), url("../font/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../font/GothamPro/GothamPro-Medium.eot");
  src: url("../font/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro/GothamPro-Medium.woff") format("woff"), url("../font/GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../font/GothamPro/GothamPro-Bold.eot");
  src: url("../font/GothamPro/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro/GothamPro-Bold.woff") format("woff"), url("../font/GothamPro/GothamPro-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  background: #fff;
  font-size: 16px;
  color: #000;
  line-height: 1.38;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999999999;
}

.shadow-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
}

.wrapper-content {
  max-width: 1108px;
  margin: 0 auto;
  padding: 0 30px;
}

.row.non-offset {
  margin: 0;
}

.offset-p-none {
  padding: 0;
}

.pp-scrollable {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pp-scrollable::-webkit-scrollbar {
  display: none;
}

.pattern {
  background: url(../images/patern.svg) no-repeat calc(100% - 63px) #fff;
}

.subtitle {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.13;
  max-width: 200px;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active,
span:focus,
span:active,
button:focus,
button:active {
  outline: none;
}

select:focus,
select:hover,
option:hover,
option:focus {
  outline: none;
}

.t-green {
  color: #16ca56;
}

.title {
  font-size: 40px;
  line-height: 1.13;
  font-weight: 500;
  max-width: 590px;
}

.t-grey {
  color: #636363;
}

.t-medium {
  font-weight: 500;
}

.fz-18 {
  font-size: 18px;
}

.wrap-input {
  width: 100%;
}

.top-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom: 1px solid #f0f0f0;
}

.top-s .subtitle {
  margin: 40px 0;
}

.input-styles {
  font-family: 'Gotham Pro', sans-serif;
  width: 100%;
  background: transparent;
  padding-bottom: 17px;
  font-weight: 500;
  color: #000;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid #c7c7c7;
}

.input-styles::-webkit-input-placeholder {
  color: #a3a3a3;
}

.input-styles::-moz-placeholder {
  color: #a3a3a3;
}

.input-styles:-moz-placeholder {
  color: #a3a3a3;
}

.input-styles:-ms-input-placeholder {
  color: #a3a3a3;
}

.btn-styles {
  display: inline-block;
  padding: 26px;
  background: #16ca56;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  -webkit-box-shadow: 11px 11px 21px 0 rgba(22, 202, 86, 0.18);
  box-shadow: 11px 11px 21px 0 rgba(22, 202, 86, 0.18);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-styles:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

.btn-styles.white-theme {
  background: #fff;
  color: #000;
}

.pp-tooltip {
  display: none !important;
}

#pp-nav {
  display: none;
}

.popup-services {
  position: fixed;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  right: 0;
  top: 0;
  max-width: 504px;
  width: 100%;
  background: #fff;
  z-index: 2001;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-filter: blur(4x);
  filter: blur(4x);
  height: 100%;
}

.popup-services .close {
  width: 18px;
  height: 18px;
  position: relative;
  top: 23px;
  left: 92%;
  cursor: pointer;
}

.popup-services .close:before {
  content: '';
  width: 2px;
  height: 18px;
  background: #000;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 8px;
  top: 8px;
}

.popup-services .close:after {
  content: '';
  width: 2px;
  height: 18px;
  background: #000;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  left: 8px;
  top: 8px;
}

.popup-services .scroll {
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.popup-services .scroll::-webkit-scrollbar {
  display: none;
}

.popup-services.show {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-filter: blur(0);
  filter: blur(0);
}

.popup-services .title-popup {
  padding: 30px 46px;
  font-size: 26px;
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
}

.popup-services .wrap {
  padding: 0 46px;
}

.popup-services .list-name {
  padding-top: 32px;
  font-size: 16px;
  font-weight: 500;
}

.popup-services .wrap-list {
  position: relative;
}

.popup-services .wrap-list:before {
  content: '';
  width: calc(100% - 24px);
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 24px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 4;
}

.popup-services .list {
  margin-top: 13px;
  margin-right: 15px;
  max-height: 410px;
  overflow-y: hidden;
}

.popup-services .list:hover {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.popup-services .list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 9px;
}

.popup-services .list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #16ca56;
  -webkit-box-shadow: 11px 11px 21px 0 rgba(22, 202, 86, 0.18);
  box-shadow: 11px 11px 21px 0 rgba(22, 202, 86, 0.18);
}

.popup-services .list li {
  margin-top: 13px;
  padding-left: 36px;
  position: relative;
  font-size: 16px;
  color: #4c4c4c;
  line-height: 1.44;
}

.popup-services .list li:last-child {
  padding-bottom: 70px;
}

.popup-services .list li:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #1fd860;
  position: absolute;
  top: 6px;
  left: 0;
}

.popup-services .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f0f0f0;
  padding: 24px 46px;
}

.popup-services .order .price {
  font-size: 30px;
  font-weight: 500;
  margin-right: 10px;
}

.menu {
  background: #f0f0f0;
  height: 100vh;
  min-height: 525px;
}

.menu .fixed {
  padding: 45px 100px 0 45px;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu .fixed:after {
  content: '';
  width: 1px;
  top: 0;
  height: 100%;
  background: #c8c8c8;
  position: absolute;
  right: 70px;
}

.menu .mobile-menu-toggle {
  display: none;
  z-index: 877;
  margin-top: 16px;
  position: relative;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  text-align: left;
}

.menu .mobile-menu-toggle div,
.menu .mobile-menu-toggle div:before,
.menu .mobile-menu-toggle div:after {
  background: #16ca56;
  position: absolute;
  height: 4px;
  width: 40px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border-radius: 30px;
}

.menu .mobile-menu-toggle div:first-child {
  top: 0;
}

.menu .mobile-menu-toggle div:nth-child(2) {
  top: 10px;
}

.menu .mobile-menu-toggle div:nth-child(3) {
  top: 20px;
}

.menu .mobile-menu-toggle.active div {
  background: #000;
}

.menu .mobile-menu-toggle.active div:first-child {
  top: 8%;
  left: 5%;
  width: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: width .15s, top .15s .15s, left .15s .15s, -webkit-transform .15s .15s;
  transition: width .15s, top .15s .15s, left .15s .15s, -webkit-transform .15s .15s;
  -o-transition: width .15s, top .15s .15s, left .15s .15s, transform .15s .15s;
  transition: width .15s, top .15s .15s, left .15s .15s, transform .15s .15s;
  transition: width .15s, top .15s .15s, left .15s .15s, transform .15s .15s, -webkit-transform .15s .15s;
}

.menu .mobile-menu-toggle.active div:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .15s .15s;
  transition: -webkit-transform .15s .15s;
  -o-transition: transform .15s .15s;
  transition: transform .15s .15s;
  transition: transform .15s .15s, -webkit-transform .15s .15s;
}

.menu .mobile-menu-toggle.active div:nth-child(3) {
  width: 50%;
  right: 7%;
  top: 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: width .15s, top .15s .15s, right .15s .15s, -webkit-transform .15s .15s;
  transition: width .15s, top .15s .15s, right .15s .15s, -webkit-transform .15s .15s;
  -o-transition: width .15s, top .15s .15s, right .15s .15s, transform .15s .15s;
  transition: width .15s, top .15s .15s, right .15s .15s, transform .15s .15s;
  transition: width .15s, top .15s .15s, right .15s .15s, transform .15s .15s, -webkit-transform .15s .15s;
}

.menu .logo img {
  height: 53px;
}

.menu nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu nav .navigation li {
  margin-top: 21px;
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu nav .navigation li:hover:not(.active) {
  text-shadow: 2px 2px 0 #c8c8c8;
}

.menu nav .navigation li:before {
  content: '';
  width: 9px;
  height: 9px;
  background: #a3a3a3;
  position: absolute;
  right: -34.5px;
  z-index: 3;
  top: calc((100% - 9px) / 2);
}

.menu nav .navigation li.active:before {
  background: #1fd860;
}

.menu nav .navigation li.active a {
  color: #000;
}

.menu nav .navigation li a {
  color: #a3a3a3;
  text-decoration: none;
}

.menu .tel {
  font-size: 18px;
  color: #000;
}

.menu .social-network {
  margin: 38px -30px 0 -45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #c8c8c8;
}

.menu .social-network .network {
  padding: 10px 0;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu .social-network .network:nth-child(odd) {
  border-right: 1px solid #c8c8c8;
}

.menu .social-network a:hover img {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.menu .social-network a.telegram img {
  height: 53px;
}

.menu .social-network a img {
  height: 29px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 166px;
  margin-bottom: 190px;
}

.home .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 50px;
}

.home .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.home .time {
  text-align: center;
  font-size: 80px;
  font-weight: 600;
}

.home .form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.home .form .wrap-input {
  margin-top: 15px;
  margin-right: 30px;
}

.home .block-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 372px;
}

.works .info {
  padding: 44px 0;
  background: #fff;
}

.works .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.works .steps .enumeration:first-child .task {
  padding-left: 0;
  margin-left: 60px;
}

.works .steps .step p {
  max-width: 130px;
  width: 100%;
  font-size: 92px;
  color: #16ca56;
  font-weight: 500;
  position: relative;
}

.works .steps .step p:before {
  content: '';
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #fff;
  border: 1px dashed #979797;
  position: absolute;
  bottom: -19px;
  left: calc((100% - 21px) / 2);
}

.works .steps .task {
  padding-left: 60px;
  border-top: 1px dashed #979797;
  margin-top: 9px;
  padding-top: 24px;
}

.works .steps .task p {
  font-size: 18px;
  font-weight: 500;
  max-width: 175px;
}

.works .steps .task p:first-child {
  padding-left: 0;
}

.services {
  padding: 50px 0;
}

.services .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services .tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .tabs__caption li {
  color: #a3a3a3;
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-right: 72px;
  padding: 22px 0;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.services .tabs__caption li.active {
  color: #000;
  border-bottom: 3px solid #1fd860;
}

.services .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.services .download:hover {
  background: #16ca56;
}

.services .download:hover p {
  color: #fff;
}

.services .download:hover a img {
  -webkit-filter: brightness(10);
  filter: brightness(10);
}

.services .download p {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  padding-left: 22px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.services .download a {
  padding: 42px;
  border-left: 1px solid #f0f0f0;
}

.services .card {
  padding: 22px;
  border: 1px solid #f0f0f0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  height: 100%;
}

.services .card:hover {
  color: #fff;
  background: #16ca56;
  border: 1px solid #16ca56;
}

.services .card:hover .price {
  color: #fff;
}

.services .card:hover .style-plus {
  border: 1px solid #fff;
}

.services .card:hover .style-plus:before,
.services .card:hover .style-plus:after {
  background: #fff;
}

.services .card .top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services .card .style-plus {
  width: 34px;
  margin-left: 7px;
  min-width: 34px;
  height: 34px;
  background: transparent;
  border: 1px solid #16ca56;
  position: relative;
  display: inline-block;
}

.services .card .style-plus:before {
  content: '';
  width: 14.5px;
  height: 1px;
  position: absolute;
  background: #16ca56;
  top: calc((100% - 1px) / 2);
  left: calc((100% - 14.5px) /2);
}

.services .card .style-plus:after {
  content: '';
  width: 1px;
  height: 14.5px;
  position: absolute;
  background: #16ca56;
  top: calc((100% - 14.5px) /2);
  left: calc((100% - 1px) / 2);
}

.services .card .price {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  padding-top: 12px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.services .card .price.rub:after {
  content: '\20BD';
}

.services .tabs__content {
  display: none;
  background: #fff;
}

.services .tabs__content.active {
  display: block;
}

.guarantees .list-guarantees {
  margin-top: 10px;
}

.guarantees .list-guarantees .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
}

.guarantees .list-guarantees .list-item .block-img {
  max-width: 95px;
  width: 100%;
  position: relative;
}

.guarantees .list-guarantees .list-item .block-img:before {
  content: '';
  opacity: .3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#16ca56), to(rgba(22, 202, 86, 0)));
  background-image: -o-linear-gradient(top, #16ca56, rgba(22, 202, 86, 0));
  background-image: linear-gradient(to bottom, #16ca56, rgba(22, 202, 86, 0));
  width: 56px;
  height: 45px;
  position: absolute;
  bottom: -9px;
  right: 0;
}

.guarantees .list-guarantees .list-item .block-img.circle:before {
  border-radius: 50%;
  bottom: 5px;
}

.guarantees .list-guarantees .list-item p {
  padding-left: 40px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  max-width: 312px;
}

.about .bg-white {
  background: #fff;
  padding-bottom: 160px;
}

.about .pos {
  position: relative;
  height: 100%;
}

.about .pos .vertical-text {
  font-size: 60px;
  font-weight: 500;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: left top 0;
  -ms-transform-origin: left top 0;
  transform-origin: left top 0;
  position: absolute;
  left: 0;
  bottom: 25%;
}

.about .wrap {
  padding: 0 93px;
}

.about .title-s {
  margin-top: 125px;
  margin-bottom: 64px;
  font-size: 70px;
  font-weight: 500;
}

.about .block-img {
  margin-top: 64px;
  width: 100%;
  position: relative;
}

.about .block-img .tooltip {
  position: absolute;
}

.about .block-img .tooltip.first {
  top: 44%;
  left: 13.6%;
}

.about .block-img .tooltip.second {
  left: 31.5%;
  top: 18%;
}

.about .block-img .tooltip.third {
  bottom: 20.1%;
  left: 37.6%;
}

.about .block-img .tooltip.four {
  top: 13.2%;
  right: 15.9%;
}

.about .block-img .tooltip.five {
  top: 34.4%;
  left: 57.9%;
}

.about .block-img .map {
  width: 100%;
  height: auto;
}

.about .wrap-slide-inf {
  background: #fff;
  padding-bottom: 60px;
}

.about .wrap-slide-inf .bx-viewport {
  overflow: inherit !important;
}

.about .wrap-slide-inf .bx-wrapper {
  width: 305px;
  margin-left: auto;
  margin-right: 94px;
  margin-top: -170px;
}

.about .wrap-slide-inf .bx-controls {
  width: 88%;
  left: 6%;
  height: 50px;
  position: absolute;
  top: 200px;
}

.about .wrap-slide-inf .bx-controls-direction {
  width: 100%;
  height: 50px;
}

.about .wrap-slide-inf .bx-wrapper .bx-prev,
.about .wrap-slide-inf .bx-wrapper .bx-next {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.about .slide-inf {
  height: 259px;
  max-width: 305px;
  width: 100%;
  color: #fff;
  background: url(../images/patern-50.svg) no-repeat center center #16ca56;
}

.about .slide-inf:before {
  content: '';
  width: 94%;
  height: 100%;
  background: #16ca56;
  opacity: .75;
  position: absolute;
  top: 8px;
  left: 3%;
  z-index: -1;
}

.about .slide-inf:after {
  content: '';
  width: 86%;
  height: 100%;
  background: #16ca56;
  opacity: .75;
  position: absolute;
  top: 16px;
  left: 7%;
  z-index: -2;
}

.about .slide-inf .slide {
  max-width: 305px;
  width: 100%;
  padding: 35px 0;
}

.about .slide-inf p {
  max-width: 200px;
  margin: 0 auto;
  font-size: 16px;
}

.about .slide-inf .percent {
  text-align: center;
  font-size: 92px;
  font-weight: 500;
}

.about .information {
  background: #fff;
}

.about .information p {
  font-size: 16px;
  padding-top: 25px;
  line-height: 1.8;
}

.about .information p.topic {
  font-size: 18px;
  font-weight: 500;
  padding-top: 60px;
  max-width: 440px;
}

.about .information .list {
  max-width: 359px;
  margin-top: 30px;
}

.about .information .list li {
  margin-top: 14px;
  color: #4c4c4c;
  padding-left: 18px;
  position: relative;
}

.about .information .list li:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #1fd860;
  position: absolute;
  top: 8px;
  left: 0;
}

.about .information .max-width-507px {
  max-width: 507px;
}

.about .wrap-slider-gerb {
  margin-top: 28px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.about .wrap-slider-gerb .bx-controls {
  width: 115px;
  height: 77px;
  position: absolute;
  top: -77px;
  right: 0;
}

.about .wrap-slider-gerb .bx-controls .bx-controls-direction {
  width: 100%;
  height: 77px;
  position: relative;
}

.about .wrap-slider-gerb .bx-controls .bx-controls-direction:before {
  content: '';
  height: 100%;
  width: 1px;
  background: #f0f0f0;
  position: absolute;
  left: calc((100% - 1px) / 2);
}

.about .wrap-slider-gerb .bx-controls .bx-controls-direction a {
  top: calc((100% - 32px) / 2);
  margin-top: 0;
}

.about .wrap-slider-gerb .bx-controls .bx-controls-direction a.bx-prev {
  left: 0;
}

.about .wrap-slider-gerb .bx-controls .bx-controls-direction a.bx-next {
  right: 0;
}

.reviews .subtitle {
  max-width: 325px;
}

.reviews .wrap-comments {
  padding-bottom: 50px;
}

.reviews .wrap-comments .bx-wrapper {
  max-width: 530px !important;
  width: 100%;
  margin: 0 auto;
}

.reviews .wrap-comments .bx-wrapper .bx-pager {
  bottom: -50px;
}

.reviews .wrap-comments .bx-viewport {
  max-width: 530px;
  width: 100%;
  overflow: inherit !important;
}

.reviews .wrap-comments .bx-pager {
  font-size: 80px;
  color: #000;
  font-weight: 600;
}

.reviews .comments-block {
  margin-top: 70px;
  margin-bottom: 50px;
}

.reviews .comments-block .name {
  font-size: 18px;
  color: #000;
  font-weight: 500;
}

.reviews .comments-block .comment {
  color: #575757;
  font-size: 16px;
  line-height: 1.44;
  margin-top: 23px;
  max-width: 386px;
}

.reviews .comments-block .slider-comments {
  height: 100%;
  border: 8px solid #f0f0f0;
  background: #fff;
  -webkit-box-shadow: 0 7px 33px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 7px 33px 0 rgba(0, 0, 0, 0.06);
}

.reviews .comments-block .slider-comments:before {
  content: '';
  width: 94%;
  position: absolute;
  height: 20px;
  left: 3%;
  bottom: -20px;
  background: #f0f0f0;
  z-index: -1;
  -webkit-box-shadow: 0 7px 33px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 7px 33px 0 rgba(0, 0, 0, 0.06);
}

.reviews .comments-block .slider-comments:after {
  content: '';
  width: 88%;
  height: 20px;
  position: absolute;
  bottom: -32px;
  left: 6%;
  background: #f0f0f0;
  z-index: -2;
  -webkit-box-shadow: 0 7px 33px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 7px 33px 0 rgba(0, 0, 0, 0.06);
}

.reviews .comments-block .slider-comments .slide {
  padding: 63px 71px;
}

.contacts .title {
  font-size: 50px;
}

.contacts .middle {
  background: #16ca56;
}

.contacts .bottom {
  background: #14bd50;
}

.contacts .top-wrap {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 90px;
}

.contacts .time-work {
  margin-bottom: -90px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.contacts .time-work .time {
  font-size: 80px;
  font-weight: 600;
}

.contacts .middle-wrap {
  padding: 50px 0;
}

.contacts .middle-wrap .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.contacts .middle-wrap .form .wrap-input {
  margin-right: 46px;
  max-width: 186px;
}

.contacts .middle-wrap .form .wrap-input .input-styles {
  border-bottom: 3px solid #fff;
}

.contacts .middle-wrap .form .wrap-input .input-styles::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.77);
}

.contacts .middle-wrap .form .wrap-input .input-styles::-moz-placeholder {
  color: rgba(255, 255, 255, 0.77);
}

.contacts .middle-wrap .form .wrap-input .input-styles:-moz-placeholder {
  color: rgba(255, 255, 255, 0.77);
}

.contacts .middle-wrap .form .wrap-input .input-styles:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.77);
}

.contacts .bottom-wrap {
  padding: 50px 0;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts .bottom-wrap a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

@media only screen and (max-width: 1400px) {
  .about .wrap-slide-inf .bx-wrapper {
    margin-right: 15px;
    width: 275px;
  }
}

@media only screen and (max-width: 1281px) {
  .contacts .title {
    font-size: 44px;
  }

  .contacts .time-work .time {
    font-size: 66px;
  }

  .contacts .middle-wrap {
    padding: 35px 0;
  }

  .contacts .bottom-wrap {
    font-size: 32px;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    overflow: auto !important;
  }

  body {
    overflow: auto !important;
  }

  .pattern {
    background: url(../images/patern.svg) no-repeat calc(100% - 63px) -10%;
    background-repeat-y: inherit;
  }

  .menu {
    position: fixed;
    max-width: 24.4%;
    width: 100%;
  }

  .menu .fixed {
    position: relative;
    padding: 45px 60px 0 25px;
  }

  .menu .fixed:after {
    right: 30px;
  }

  .menu .social-network {
    margin: 38px -30px 0 -25px;
  }

  .home {
    padding-bottom: 40px;
    margin-bottom: 0;
  }

  .works .steps .task p {
    font-size: 14px;
  }

  .about .bg-white {
    padding-bottom: 40px;
  }

  .about .title-s {
    margin-top: 30px;
  }

  .about .pos .vertical-text {
    font-size: 44px;
  }

  .contacts .bottom-wrap {
    font-size: 32px;
  }

  .contacts .title {
    font-size: 34px;
  }

  .contacts .top-wrap {
    padding-top: 0;
  }
}

@media only screen and (max-width: 992px) {
  .subtitle {
    max-width: 100%;
  }

  section {
    margin-top: 60px;
  }

  section:first-child {
    margin-top: 0;
  }

  .menu {
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: 1000;
    min-height: auto;
    height: auto;
    max-width: 100%;
  }

  .menu .mobile-menu-toggle {
    display: inline-block;
  }

  .menu nav {
    width: 300px;
    display: none;
    position: fixed;
    right: 15px;
    top: 100px;
    background: #f0f0f0;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.35);
  }

  .menu nav:before {
    content: '';
    position: absolute;
    top: -14px;
    right: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 16px 12px;
    border-color: transparent transparent #f0f0f0 transparent;
  }

  .menu nav .navigation {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .menu nav .navigation.active {
    -webkit-filter: blur(0);
    filter: blur(0);
  }

  .menu nav .navigation li {
    padding: 0 15px;
    width: 100%;
    text-align: left;
  }

  .menu nav .navigation li:before {
    right: 15px;
  }

  .menu nav .navigation li:last-child {
    margin-bottom: 21px;
  }

  .menu .social-network {
    display: none;
  }

  .menu .mobile-menu-toggle {
    display: block !important;
  }

  .menu .wrap {
    margin-right: auto;
    margin-left: 30px;
  }

  .menu .fixed {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
  }

  .menu .fixed:after {
    display: none;
  }

  .services .tabs__caption li {
    margin-right: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 32px;
  }

  .wrapper-content {
    padding: 0 15px;
  }

  .container-fluid {
    padding: 0;
  }

  .home {
    padding-top: 90px;
  }

  .home .time {
    text-align: left;
    font-size: 54px;
  }

  .home .left {
    margin-right: 10px;
  }

  .home .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .home .form .wrap-input {
    max-width: 370px;
  }

  .services .top {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .guarantees .list-guarantees .list-item p {
    padding-left: 15px;
    font-size: 14px;
  }

  .guarantees .list-guarantees .list-item .block-img {
    max-width: 65px;
  }

  .guarantees .list-guarantees .list-item .block-img img {
    height: 55px;
  }

  .works .steps {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .works .steps .enumeration {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .works .steps .enumeration:nth-child(3) .task {
    margin-left: 60px;
    padding-left: 0;
  }

  .about .bg-white {
    padding-bottom: 20px;
  }

  .about .title-s {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 56px;
    line-height: 1;
  }

  .about .wrap {
    padding: 0 15px;
  }

  .about .wrap-slide-inf .bx-wrapper {
    width: 255px;
  }

  .about .wrap-slider-gerb {
    margin-top: 60px;
  }

  .about .information p.topic {
    padding-top: 30px;
  }

  .contacts .middle .wrapper-content,
  .contacts .bottom .wrapper-content {
    padding: 0 15px;
  }

  .contacts .btn .btn-styles {
    width: 100%;
  }

  .contacts .bottom-wrap {
    font-size: 26px;
  }

  .contacts .middle-wrap .form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .contacts .middle-wrap .form .wrap-input,
  .contacts .middle-wrap .form .btn {
    margin-right: 0;
    margin-top: 10px;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    max-width: inherit;
  }

  .contacts .time-work {
    margin-bottom: 0;
  }

  .contacts .top-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0;
  }

  .contacts .title {
    font-size: 33px;
  }
}

@media only screen and (max-width: 576px) {
  .title {
    font-size: 26px;
  }

  section {
    margin-top: 60px;
  }

  section:first-child {
    margin-top: 0;
  }

  .top-s {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .top-s .subtitle {
    margin: 20px 0;
  }

  .menu nav {
    right: 6px;
    top: 85px;
  }

  .menu .fixed {
    padding: 7px 15px;
  }

  .menu .logo img {
    height: 31px;
  }

  .menu .mobile-menu-toggle {
    margin-right: 0;
  }

  .menu .mobile-menu-toggle div {
    width: 32px;
  }

  .menu .mobile-menu-toggle.active div:first-child {
    top: 13%;
    left: 3%;
  }

  .menu .mobile-menu-toggle.active div:nth-child(3) {
    right: 24%;
    top: 37%;
  }

  .menu .wrap {
    margin-left: 10px;
  }

  .menu .tel {
    font-size: 17px;
  }

  .home .block-img img {
    min-height: 240px;
  }

  .home .left {
    margin-right: 0;
  }

  .home .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .popup-services .close {
    top: 0;
  }

  .popup-services .title-popup {
    padding: 15px;
  }

  .popup-services .wrap {
    padding: 0 15px;
  }

  .popup-services .order {
    padding: 24px 15px;
  }

  .popup-services .order .btn .btn-styles {
    padding: 14px;
  }

  .popup-services .order .price {
    font-size: 18px;
  }

  .services {
    padding: 0;
  }

  .services .card {
    padding: 22px 10px;
  }

  .services .card .price {
    font-size: 18px;
  }

  .services .descr {
    font-size: 14px;
  }

  .services .tabs__caption li {
    margin-right: 15px;
    font-size: 16px;
  }

  .guarantees .list-guarantees .list-item {
    margin-top: 4%;
  }

  .works .t-grey {
    margin-top: 12px;
  }

  .works .steps {
    margin-top: 30px;
  }

  .works .steps .enumeration:first-child .task {
    margin-left: 0;
  }

  .works .steps .enumeration:nth-child(3) .task {
    margin-left: 0;
  }

  .works .steps .task {
    padding-left: 24px;
  }

  .works .steps .task p {
    font-size: 12px;
  }

  .works .steps .step p {
    font-size: 64px;
    max-width: 100px;
  }

  .about .wrap {
    padding: 0;
  }

  .about .title-s {
    margin-bottom: 0;
    font-size: 38px;
  }

  .about .wrap-slider-gerb {
    margin-top: 40px;
  }

  .about .wrap-slider-gerb .bx-controls {
    height: 36px;
    top: -36px;
  }

  .about .wrap-slider-gerb .bx-controls .bx-controls-direction {
    height: 36px;
  }

  .about .block-img {
    margin-top: 25px;
  }

  .about .block-img .map {
    min-height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .about .wrap-slide-inf .bx-wrapper {
    margin-top: -10px;
  }

  .about .wrap-slide-inf .bx-wrapper {
    width: 100%;
  }

  .about .wrap-slide-inf .bx-controls {
    width: 100%;
    left: 0;
    top: 35px;
  }

  .about .slide-inf {
    height: 170px;
    max-width: 100%;
  }

  .about .slide-inf .percent {
    font-size: 64px;
  }

  .about .slide-inf .slide {
    padding: 15px 0;
    max-width: 100%;
  }

  .reviews .wrap-comments .bx-wrapper .bx-pager {
    font-size: 48px;
    bottom: -38px;
  }

  .reviews .comments-block {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .reviews .comments-block .slider-comments .slide {
    padding: 25px 16px 65px;
  }

  .reviews .bx-wrapper .bx-controls-direction a {
    top: 100%;
  }

  .contacts .bottom-wrap {
    padding: 25px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contacts .middle-wrap .form .wrap-input,
  .contacts .middle-wrap .form .btn {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 15px;
  }

  .contacts .title {
    font-size: 30px;
  }

  .contacts .top-wrap {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .contacts .time-work {
    margin-top: 15px;
  }

  .contacts .time-work .time {
    font-size: 54px;
  }
}

@media only screen and (max-width: 370px) {
  .menu .tel {
    font-size: 14px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
