.home {
  display: flex;
  flex-direction: column;
  padding-top: 166px;
  margin-bottom: 190px;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .time {
    text-align: center;
    font-size: 80px;
    font-weight: 600;
  }
  .form {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .wrap-input {
      margin-top: 15px;
      margin-right: 30px;
    }
  }
  .block-img {

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      min-height: 372px;
    }
  }
}