@media #{$xll} {

}

@media #{$xl} {
  .about {
    .wrap-slide-inf {
      .bx-wrapper {
        margin-right: 15px;
        width: 275px;
      }
    }
  }
}

@media #{$header-fix} {
  .contacts {
    .title {
      font-size: 44px;
    }
    .time-work {
      .time {
        font-size: 66px;
      }
    }
    .middle-wrap {
      padding: 35px 0;
    }
    .bottom-wrap {
      font-size: 32px;
    }
  }
}

@media #{$lg} {
  html {
    overflow: auto !important;
  }
  body {
    overflow: auto !important;
  }
  .pattern {
    background: url(../images/patern.svg) no-repeat calc(100% - 63px) -10%;
    background-repeat-y: inherit;
  }
  .menu {
    position: fixed;
    max-width: 24.4%;
    width: 100%;

    .fixed {
      position: relative;
      padding: 45px 60px 0 25px;

      &:after {
        right: 30px;
      }
    }

    .social-network {
      margin: 38px -30px 0 -25px;
    }
  }
  .home {
    padding-bottom: 40px;
    margin-bottom: 0;
  }
  .works {
    .steps {
      .task {
        p {
          font-size: 14px;
        }
      }
    }
  }
  .about {
    .bg-white {
      padding-bottom: 40px;
    }

    .title-s {
      margin-top: 30px;
    }

    .pos {
      .vertical-text {
        font-size: 44px;
      }
    }
  }
  .contacts {
    .bottom-wrap {
      font-size: 32px;
    }
    .title {
      font-size: 34px;
    }
    .top-wrap {
      padding-top: 0;
    }
  }
}

@media #{$md} {
  .subtitle {
    max-width: 100%;
  }
  section {
    margin-top: 60px;
    &:first-child {
      margin-top: 0;
    }
  }
  .menu {
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: 1000;
    min-height: auto;
    height: auto;
    max-width: 100%;

    .mobile-menu-toggle {
      display: inline-block;
    }

    nav {
      width: 300px;
      display: none;
      position: fixed;
      right: 15px;
      top: 100px;
      background: $bg-white;
      border-radius: 8px;
      box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.35);

      &:before {
        content: '';
        position: absolute;
        top: -14px;
        right: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 12px 16px 12px;
        border-color: transparent transparent $bg-white transparent;
      }

      .navigation {
        filter: blur(4px);
        transition: all .3s ease-in-out;

        &.active {
          filter: blur(0);
        }

        li {
          padding: 0 15px;
          width: 100%;
          text-align: left;

          &:before {
            right: 15px;
          }

          &:last-child {
            margin-bottom: 21px;
          }
        }
      }
    }

    .social-network {
      display: none;
    }

    .mobile-menu-toggle {
      display: block !important;
    }

    .wrap {
      margin-right: auto;
      margin-left: 30px;
    }

    .fixed {
      height: auto;
      flex-direction: row;
      align-items: center;
      padding: 15px;

      &:after {
        display: none;
      }
    }
  }
  .services {
    .tabs__caption {
      li {
        margin-right: 35px;
      }
    }
  }
}

@media #{$sm} {
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 32px;
  }
  .wrapper-content {
    padding: 0 15px;
  }
  .container-fluid {
    padding: 0;
  }
  .home {
    padding-top: 90px;

    .time {
      text-align: left;
      font-size: 54px;
    }

    .left {
      margin-right: 10px;
    }

    .form {
      flex-direction: column;

      .wrap-input {
        max-width: 370px;
      }
    }
  }
  .services {
    .top {
      margin-top: 10px;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
  .guarantees {
    .list-guarantees {
      .list-item {
        p {
          padding-left: 15px;
          font-size: 14px;
        }

        .block-img {
          max-width: 65px;

          img {
            height: 55px;
          }
        }
      }
    }
  }
  .works {
    .steps {
      flex-wrap: wrap;
      margin-top: 50px;

      .enumeration {
        flex-basis: 50%;

        &:nth-child(3) {
          .task {
            margin-left: 60px;
            padding-left: 0;
          }
        }
      }
    }
  }
  .about {
    .bg-white {
      padding-bottom: 20px;
    }

    .title-s {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 56px;
      line-height: 1;
    }

    .wrap {
      padding: 0 15px;
    }

    .wrap-slide-inf {
      .bx-wrapper {
        width: 255px;
      }
    }

    .wrap-slider-gerb {
      margin-top: 60px;
    }

    .information {
      p {
        &.topic {
          padding-top: 30px;
        }
      }
    }
  }
  .contacts {
    .middle, .bottom {
      .wrapper-content {
        padding: 0 15px;
      }
    }
    .btn {
      .btn-styles {
        width: 100%;
      }
    }
    .bottom-wrap {
      font-size: 26px;
    }
    .middle-wrap {
      .form {
        flex-wrap: wrap;
        .wrap-input, .btn {
          margin-right: 0;
          margin-top: 10px;
          flex-basis: 48%;
          max-width: inherit;
        }
      }
    }
    .time-work {
      margin-bottom: 0;
    }
    .top-wrap {
      flex-direction: column;
      padding-bottom: 0;
    }
    .title {
      font-size: 33px;
    }
  }
}

@media #{$xs} {
  .title {
    font-size: 26px;
  }
  section {
    margin-top: 60px;
    &:first-child {
      margin-top: 0;
    }
  }
  .top-s {
    flex-direction: column;
    align-items: flex-start;

    .subtitle {
      margin: 20px 0;
    }
  }
  .menu {

    nav {
      right: 6px;
      top: 85px;
    }

    .fixed {
      padding: 7px 15px;
    }

    .logo {
      img {
        height: 31px;
      }
    }

    .mobile-menu-toggle {
      margin-right: 0;

      div {
        width: 32px;
      }

      &.active {
        div:first-child {
          top: 13%;
          left: 3%;
        }

        div:nth-child(3) {
          right: 24%;
          top: 37%;
        }
      }
    }

    .wrap {
      margin-left: 10px;
    }

    .tel {
      font-size: 17px;
    }
  }
  .home {
    .block-img {
      img {
        min-height: 240px;
      }
    }

    .left {
      margin-right: 0;
    }

    .content {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .popup-services {
    .close {
      top: 0;
    }
    .title-popup {
      padding: 15px;
    }

    .wrap {
      padding: 0 15px;
    }

    .order {
      padding: 24px 15px;
      .btn {
        .btn-styles {
          padding: 14px;
        }
      }
      .price {
        font-size: 18px;
      }
    }
  }
  .services {
    padding: 0;

    .card {
      padding: 22px 10px;

      .price {
        font-size: 18px;
      }
    }

    .descr {
      font-size: 14px;
    }

    .tabs__caption {
      li {
        margin-right: 15px;
        font-size: 16px;
      }
    }
  }

  .guarantees {
    .list-guarantees {
      .list-item {
        margin-top: 4%;
      }
    }
  }
  .works {
    .t-grey {
      margin-top: 12px;
    }

    .steps {
      margin-top: 30px;

      .enumeration {
        &:first-child {
          .task {
            margin-left: 0;
          }
        }

        &:nth-child(3) {
          .task {
            margin-left: 0;
          }
        }
      }

      .task {
        padding-left: 24px;

        p {
          font-size: 12px;
        }
      }

      .step {
        p {
          font-size: 64px;
          max-width: 100px;
        }
      }
    }
  }
  .about {
    .wrap {
      padding: 0;
    }

    .title-s {
      margin-bottom: 0;
      font-size: 38px;
    }

    .wrap-slider-gerb {
      margin-top: 40px;

      .bx-controls {
        height: 36px;
        top: -36px;

        .bx-controls-direction {
          height: 36px;
        }
      }
    }

    .block-img {
      margin-top: 25px;

      .map {
        min-height: 300px;
        object-fit: cover;
      }
    }

    .wrap-slide-inf {
      .bx-wrapper {
        margin-top: -10px;
      }

      .bx-wrapper {
        width: 100%;
      }

      .bx-controls {
        width: 100%;
        left: 0;
        top: 35px;
      }
    }

    .slide-inf {
      height: 170px;
      max-width: 100%;

      .percent {
        font-size: 64px;
      }

      .slide {
        padding: 15px 0;
        max-width: 100%;
      }
    }
  }
  .reviews {
    .wrap-comments {
      .bx-wrapper {
        .bx-pager {
          font-size: 48px;
          bottom: -38px;

        }
      }
    }
    .comments-block {
      margin-top: 25px;
      margin-bottom: 25px;
      .slider-comments {
        .slide {
          padding: 25px 16px 65px;
        }
      }
    }
    .bx-wrapper {
      .bx-controls-direction a {
        top: 100%;
      }
    }
  }
  .contacts {
    .bottom-wrap {
      padding: 25px 0;
      flex-direction: column;
    }
    .middle-wrap {
      .form {
        .wrap-input, .btn {
          flex-basis: 100%;
          margin-top: 15px;
        }
      }
    }
    .title {
      font-size: 30px;
    }
    .top-wrap {
      align-items: flex-start;
    }
    .time-work {
      margin-top: 15px;
      .time {
        font-size: 54px;
      }
    }
  }
}

@media #{$xss} {
  .menu .tel {
    font-size: 14px;
  }
}