.services {
  padding: 50px 0;
  //position: relative;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tabs__caption {
    display: flex;
    li {
      color: $grey;
      font-size: 20px;
      font-weight: 500;
      transition: all .3s ease-in-out;
      margin-right: 72px;
      padding: 22px 0;
      border-bottom: 3px solid transparent;
      cursor: pointer;
      &.active {
        color: $black;
        border-bottom: 3px solid $algae-green;
      }
    }
  }
  .download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $bg-white;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
      background: $seaweed;
      p {
        color: $white;
      }
      a {
        img {
          filter: brightness(10);
        }
      }
    }
    p {
      color: $black;
      font-size: 20px;
      font-weight: 500;
      padding-left: 22px;
      transition: all .3s ease-in-out;
    }
    a {
      padding: 42px;
      border-left: 1px solid $bg-white;
    }
  }
  .card {
    padding: 22px;
    border: 1px solid $bg-white;
    transition: all .3s ease-in-out;
    cursor: pointer;
    height: 100%;
    &:hover {
      color: $white;
      background: $seaweed;
      border: 1px solid $seaweed;
      .price {
        color: $white;
      }
      .style-plus {
        border: 1px solid $white;
        &:before, &:after {
          background: $white;
        }
      }
    }
    .top-card {
      display: flex;
      justify-content: space-between;
    }
    .style-plus {
      width: 34px;
      margin-left: 7px;
      min-width: 34px;
      height: 34px;
      background: transparent;
      border: 1px solid $seaweed;
      position: relative;
      display: inline-block;
      &:before {
        content: '';
        width: 14.5px;
        height: 1px;
        position: absolute;
        background: $seaweed;
        top: calc((100% - 1px) / 2);
        left: calc((100% - 14.5px) /2);
      }
      &:after {
        content: '';
        width: 1px;
        height: 14.5px;
        position: absolute;
        background: $seaweed;
        top: calc((100% - 14.5px) /2);
        left: calc((100% - 1px) / 2);
      }
    }
    .price {
      color: $black;
      font-size: 20px;
      font-weight: 500;
      padding-top: 12px;
      transition: all .3s ease-in-out;
      &.rub {
        &:after {
          content: '\20BD';
        }
      }
    }
  }
  .tabs__content {
    display: none;
    background: $body-bg;
    &.active {
      display: block;
    }
  }
}