//Breakpoint
$xss: "only screen and (max-width : 370px)";
$xs: "only screen and (max-width : 576px)";
$sm: "only screen and (max-width : 767px)";
$md: "only screen and (max-width : 992px)";
$lg: "only screen and (max-width : 1200px)";
$header-fix: "only screen and (max-width : 1281px)";
$xl: "only screen and (max-width : 1400px)";
$xll: "only screen and (max-width : 1680px)";

//Colors
$seaweed: #16ca56;
$body-bg: #fff;
$white: #fff;
$bg-white: #f0f0f0;
$algae-green: #1fd860;
$black: #000;
$grey: #a3a3a3;
$pinkish-grey: #c8c8c8;
$pinkish-grey-two: #c7c7c7;
$brownish-grey: #636363;
$greyish-brown: #4c4c4c;
$greyish-brown-two: #575757;
$bluish-green: #14bd50;
$warm-grey: #979797;

//Alpha colors
$white-77: rgba(255, 255, 255, .77)